
*.aux
*.bbl
*.dvi
*.fdb_latexmk
*.log
*.toc
*.url
*.swp
*.blg
*.lof
*.out
*.old
*.orig
*.idx
*.ilg
*.ind
*.lot
*.latexmain

00-Main-blx.bib
00-Main.bcf
00-Main.brf
00-Main.ent
00-Main.rtf
00-Main.run.xml
00-Main.tex
